<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Excluir Item</h2>
    <p>Tem certeza de que deseja excluir o item "{{ item.nome }}"?</p>
    <form method="post" action="{% url 'exclui_item' item.id %}">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
    </form>
    <a href="{% url 'lista_itens' %}">Cancelar e voltar para a lista</a>
</body>
</html>