<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar item</title>
</head>
<body>
    <h2>Lista de Tarefas</h2>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                {{ tarefa.titulo }} - {{ tarefa.descricao }} |
                {% if tarefa.concluida %}Concluída{% else %}Pendente{% endif %} |
                <a href="{% url 'visualiza_tarefa' tarefa.id %}">Detalhes</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>