<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarefas</title>
</head>
<body>
    <h2>Lista de Tarefas</h2>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                {{ tarefa.titulo }} - {{ tarefa.descricao }} |
                {% if tarefa.concluida %}
                    Concluída
                {% else %}
                    <a href="{% url 'marca_tarefa_concluida' tarefa.id %}">Marcar como Concluída</a>
                {% endif %}
                | <a href="{% url 'visualiza_tarefa' tarefa.id %}">Detalhes</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
